.meny {
  background-color: white;
  max-width: 14rem;
  max-height: 33rem;

  &__header-ikon {
    display: flex;
    justify-content: center;
    margin-top: -1.75rem;
    margin-bottom: 0.125rem;
  }

  &__lenke-wrapper {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__lenke {
    padding: 0.5rem 0;
  }

  @media (min-width: 768px) {
    min-width: 13.3125rem;
  }
}
