.meny {
  background-color: white;
  max-width: 15rem;
  position: sticky;
  top: 19rem;
  margin-bottom: 0.75rem;
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  padding-bottom: 2rem;

  &__header-ikon {
    display: flex;
    justify-content: center;
    margin-top: -1.75rem;
    margin-bottom: 0.125rem;
  }

  &__lenke-wrapper {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__lenke {
    padding: 0.5rem 0;
    &--bold {
      font-weight: 600;
      color: black !important;
      text-decoration: none !important;
    }
  }

  @media (min-width: 768px) {
  }
}
