.tabletmeny {
    &__tablet-wrapper {
        z-index: 100;
        background-color: white;
        max-width: 15rem;
        position: fixed;
        top: 15rem;
        left: 0;
        margin-bottom: 0.75rem;
        border-radius: 4px;
        width: 3rem;
        box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;

        &--open {
            transition: 0.3s;
            width: 640px;

            .tabletmeny {
                &__lenke {
                    & > p > span,
                    &--bold > p > span {
                        transition: 0.3s;
                        width: unset;
                    }
                    &:hover {
                        box-shadow: none !important;
                    }
                }

                &__header-burger-button {
                    justify-content: flex-end;
                }

                &__header-ikon {
                    transition: 0.3s;
                    transform: scale(0.75);
                    opacity: (1);
                    z-index: 102;
                }

                &__lenke-label {
                    display: none !important;
                }
            }
        }
    }

    &__innhold-container {
        padding: 0 0.5rem 2rem 0.35rem;
    }

    &__header-burger-button {
        height: 2.125rem;
        display: flex;
        width: 100%;
        justify-content: center;
        z-index: 101;
    }

    &__header-ikon {
        transform: scale(0);
        opacity: (0);
        transition: opacity 0.1s, width 0.3s, height 0.3s;
        position: relative;
        width: 100%;

        & > svg {
            position: absolute;
            left: 50%;
            margin-left: -2rem;
            top: -1.25rem;
        }
    }

    &__lenke-wrapper {
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    &__lenke-ikon {
        margin-right: 0.5rem;
        display: flex;
        border: 1px solid white;
        border-radius: 4px;
        padding: 0.25rem;

        & > img {
            width: 24px;
            height: 24px;
        }
    }

    &__lenke {
        max-width: 13.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0.25rem 0;
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
            .tabletmeny {
                &__lenke-ikon {
                    border: 1px solid;
                }
            }
        }

        &--bold,
        &--bold > p {
            font-weight: 600 !important;
            color: black !important;
            text-decoration: none !important;
        }
        & > p,
        &--bold > p {
            & > span {
                overflow: auto;
                white-space: nowrap;
                transition: 0.3s;
                width: 0;
            }
        }
    }

    &__lenke-label {
        display: none;
        position: absolute;
        top: 3px;
        left: 2.25rem;
        min-width: 10rem;
        background-color: white;
        border-radius: 4px;
        border: 1px solid black;
        min-height: 2rem;
        padding: 0.25rem;

        &:before {
            content: '';
            position: absolute;
            transform: rotate(-45deg);
            height: 8px;
            width: 8px;
            top: 30%;
            left: -5.5px;
            background-color: white;
            z-index: 111;
            display: inline-block;
            border-left: 1px solid black;
            border-top: 1px solid black;
        }

        &--display {
            display: block;
        }
    }

    &__label-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        & > p {
            text-align: center;
        }
    }

    &__button-container {
        display: none;
    }
}
